body {
    background-color: beige;
}

#header {
    position: absolute;
    width: 100%;
    height: 44px;
    background-color: #220000;
    left: 0;
    top: 0;
}

#rachel {
    text-align: center;
}
#mona {
    text-align: center;
}

img {
    width: 400px;
    height: 400px;
}
h1 {
    text-align: center;
    margin-top: 7%;
    font-size: 50px;
}
h2 {
    font-size: 25px;
    text-align: center;
}
h3{
    margin-left: 400px;
    margin-right: 400px;
    margin-bottom: 50px;
    font-size: 15px;
    text-align: center;
}
h4 {
    font-size: 25px;
    text-align: center;
}
h5{
    margin-left: 400px;
    margin-right: 400px;
    margin-bottom: 50px;
    font-size: 15px;
    text-align: center;
}
.button {
    margin: 8px;
    background-color: #220000;
    color: white;
    border: none;
    font-size: 20px;
    border-radius: 10px;
    margin-right: 82px;
}

.button:hover {
    background-color: white;
    color: #220000;
    transition: 0.7s;
}

.button-container{
    margin-left: 699px;
}