@font-face {
  font-family: 'EBGaramond';
  src: local('EBGaramond'), url(./assets/fonts/EB_Garamond/static/EBGaramond-Medium.ttf) format('opentype');
}

@font-face {
  font-family: 'EBGaramond';
  src: url(./assets/fonts/EB_Garamond/static/EBGaramond-Italic.ttf);
  font-style: italic;
}

.background {
  background-color: rgb(251, 248, 224);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.containCenter {
  margin-top: 7%;
  margin-left: 1%;
  display: flex;
  align-content: space-between;
  justify-content: flex-start;
}

.clear {
  text-decoration: none;
}

.embedMap {
  width: 78%;
  align-self: center;
  height: 100vh;
  margin-left: 11%;
}

.divMapNYC {

  width: 35vh;
  height: 25vh;
  display: flex;
  margin-left: 40px;
  margin-top: -10%;
  justify-content: center;
  align-items: center;
  /* background-image: url('./assets/fonts/nyc.jpeg'); */
  background-size: cover;
  border-radius: 5%;
  border-width: 2px;
  border-style: solid;
  border-color: #ff0000;
  color: rgb(0, 0, 0);
  background-color: #ff000015;
  font-family: 'EBGaramond';
  font-size: 28px;

}

.divMapNYC:hover {
  background-color: #ff000038;

}

#divMapNJ {

  width: 35vh;
  height: 25vh;
  margin-left: 100px;
  background-image: url('./assets/fonts/NJ.jpeg');
  background-size: cover;
  border-radius: 5%;
  border-width: 2px;
  border-style: solid;
  border-color: #ff0000;
  text-align: center;
  color: rgb(0, 0, 0);
  font-family: 'EBGaramond';
  font-size: 7vh;


}

#divMapPVD {

  width: 35vh;
  height: 25vh;
  margin-left: 100px;
}

.headerText {
  color: black;
  font-family: 'EBGaramond';
  font-size: 15vh;
  margin-top: 5%;
  margin-bottom: -2%;
  margin-left: 4%;
}

.headerTwoText {
  color: rgb(0, 0, 0);
  font-family: 'EBGaramond';
  font-size: 5.8vh;
  margin-top: 0%;
  margin-left: 4%;
}

.headerMapText {
  color: rgb(0, 0, 0);
  font-family: 'EBGaramond';
  font-size: 5.8vh;
  margin-top: 7%;
  margin-left: 11.5%;
  margin-bottom: 3%;
  text-align: left;
}

.headerMapTextTwo {
  color: rgb(0, 0, 0);
  font-family: 'EBGaramond';
  font-size: 4vh;
  margin-top: 3%;
  margin-left: 11.5%;
  margin-bottom: -2%;
  text-align: left;
}

.mapText {
  text-align: left;
  font-size: 22px;
  margin-left: 11%;
  margin-right: -6%;
}

#mapTextBack {
  text-align: left;
  font-size: 17px;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 2%;
}

.mapTextContainer {
  width: 80%;
  height: 25vh;
  border-radius: 20px;
  border-width: 2px;
  margin: 3%;
  text-align: center;
  justify-content: center;
  color: rgb(0, 0, 0);
  font-family: 'EBGaramond';
  font-size: 14px;
}

.mapTextContainer2 {
  width: 80%;
  height: 10vh;
  border-radius: 20px;
  border-width: 2px;
  margin-bottom: 0%;
  margin-left: 3%;
  margin-top: 3%;
  text-align: center;
  justify-content: center;
  color: rgb(0, 0, 0);
  font-family: 'EBGaramond';
  font-size: 14px;
}

.headerThreeText {
  color: rgb(0, 0, 0);
  font-family: 'EBGaramond';
  font-style: italic;
  font-size: 3.85vh;
  margin-top: 2%;
  margin-left: 4%;
  text-shadow: 2px 2px #1200000f;
}

.headerFourText {
  color: rgb(0, 0, 0);
  font-family: 'EBGaramond';
  font-size: 22px;
  margin-top: 3%;
  margin-left: 4.5%;
  width: 53%;
  text-shadow: 2px 2px #1200000f;
}

#headerLine {
  width: 72%;
  height: .3vh;
  margin-left: 4%;
  margin-top: 1%;
  margin-bottom: -1%;
  background-color: red;
}

#headerDiv {
  text-align: left;
}

#redD {
  width: 50%;
  position: absolute;
  top: 20%;
  left: 57.2%;
  bottom: 0%;
  z-index: -1000;
  opacity: 100%;
  transform: rotate(-90deg);


}

#bird {
  position: absolute;
  top: 23.5%;
  left: 68%;
  width: 20%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

header {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.07), 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  color: #212529;
}

.nav-area {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 20px;
}

.logo {
  text-decoration: none;
  font-size: 25px;
  color: inherit;
  margin-right: 20px;
}

.pageBox {
  position: absolute;
  top: 10;
  right: 0;
  display: flex;
  width: 35%;
  background: #000000;
  justify-content: space-between;
}

.dobText {
  color: rgb(0, 0, 0);
  font-family: 'EBGaramond';
  font-size: 2.5vh;
  text-align: left;
  text-shadow: 2px 2px #1200000f;
  width: 85%;
  margin-left: 11%;
  margin-right: -6%;
}
.inputText {
  color: rgb(0, 0, 0);
  font-family: 'EBGaramond';
  font-size: 2.5vh;
  text-align: start;
  margin-left: -56.5%;
  text-shadow: 2px 2px #1200000f;
  width: 53%;
}
.inputBox {
  color: rgb(0, 0, 0);
  font-family: 'EBGaramond';
  font-size: 2vh;
  text-align: start;
  margin-left: 1%;
  text-shadow: 2px 2px #1200000f;
  background-color: rgb(251, 248, 224);
  
}
.button {
  color: rgb(0, 0, 0);
  font-family: 'EBGaramond';
  font-size: 2vh;
  text-align: start;
  margin-left: 1%;
  margin-top: 1%;
  text-shadow: 2px 2px #1200000f;
  background-color: rgb(251, 248, 224);
  margin-left: -56.5%;
  
}

.violationText{
  color: rgb(0, 0, 0);
  font-family: 'EBGaramond';
  font-size: 2.5vh;
  text-align: left;
  text-shadow: 2px 2px #1200000f;
  margin-left: 11%;
  list-style-type: none;
}

.violationOpenText{
  color: red;
  font-family: 'EBGaramond';
  font-size: 2.5vh;
  text-align: left;
  text-shadow: 2px 2px #1200000f;
  margin-left: 11%;
  list-style-type: none;
}

